.header-hero {
    background-image: url(../images/hero/hero-bg-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: darken;
    @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            background-image: url(../images/hero/hero-bg-mobile@2x.jpg);
        }
}

.hero {
    padding-top: 20px;
    padding-bottom: 8px;
    text-align: center;
}

.hero__header {
    font-family: 'Montserrat Alternates';
    font-weight: 600;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    margin-bottom: 18px;
    color: var(--main-text);
}

.hero__subheader {
    font-family: 'Montserrat Alternates';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 28px;
    color: var(--main-text)
}

@media screen and (min-width: 768px) {
    .header-hero {
        background-image: url(../images/hero/hero-bg-tablet.jpg);
        @media (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
                background-image: url(../images/hero/hero-bg-tablet@2x.jpg);
            }
    }

    .hero {
        padding-top: 27px;
        padding-bottom: 43px;
        text-align: left;
    }

    .hero__header {
        width: 319px;
        font-size: 30px;
        line-height: 1.23;
        margin-bottom: 10px;
        letter-spacing: 0;
    }

    .hero__subheader {
        margin-bottom: 24px;
    }
}

@media screen and (min-width:1200px) {
    .header-hero {
        background-image: url(../images/hero/hero-bg-desktop.jpg);
    
        @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            background-image: url(../images/hero/hero-bg-desktop@2x.jpg);
        }
    }

    .hero {
        padding-top: 65px;
        padding-bottom: 90px;
    }

    .hero__header {
        font-weight: 600;
        font-size: 60px;
        line-height: 1.08;
        width: 757px;
        margin-bottom: 20px;
    }

    .hero__subheader {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.20;
        margin-bottom: 28px;
    }
}