.register-button {
    background-color: var(--button-color);
    color: #fff;
    padding: 9px 35px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    border: 0;
    border-radius: 25px;
    width: 145px;
    height: 40px;
    filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #fff;
        color: var(--button-color);
        border: 1px solid var(--button-color);
        outline: none;
    }

    &:active {
        background-color: var(--button-color);
        color: #fff;
    }
}

.register-button__hero {
    margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
    .register-button__hero {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .register-button__hero {
        margin-bottom: 32px;
    }
}